.btn {
    width: 100%;
    margin: 3px;
    border-radius: 3rem;
}
body {
    text-align: center;
}

.panel {
    height: 400px;
    border-width: 2px;
}

.panel {
    background-color: whitesmoke;
}

.jumbotron button {
    width: 30%;
}